@import "https://fonts.googleapis.com";
@import "https://fonts.gstatic.com";
@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;1,600&display=swap";
            *{
                margin: 0;
                padding: 0;
                border: 0;  
            }
            header{
                padding: 32px ;
                border-bottom: 1px solid #333;
                background: rgba(0,0,0,  0.274  );
            }
            body{
                background-color: rgb(1, 25, 25);
                color: rgb(198, 84, 84);
                font-family: 'Source Sans Pro', sans-serif;
                }
            header div  {
                text-align: center;
            }
            header div a  {
                color: white;
                font-size: 18px;
                line-height: 28px;
                margin: 0 16px;
                text-decoration: initial;
            }
            header div a:hover{
                color: green;
                transition: color 500ms ;
            }
               